*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1E1E2F; 
    color: #FFFFFF; 
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-weight: bold;
    background-color: rgba(16, 16, 32, 0.5); 
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
}
h1{
    font-size: 25px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: gray;
    text-decoration: none;
    display: inline-block;
    padding: 0px;
    
}

a:hover{
    color: #7648d7;
    
}





.txt-Presentacion {
    
    padding:25px;
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content: center;
    display: inline-block;
    margin-top: 250px;
    font-size: 30px;
    margin-left: 105px;

}


.subtxt-Presentacion{
    font-size: 15px;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 133px;
    margin-top: 8px;
}

.emoji-hand{
    font-size: 17px;
    bottom: 25px;
    position: relative;
    background-color: rgba(104, 62, 201, 0.15); /* Ajuste de opacidad */
    border-radius: 15px; /* Aumenta el radio del borde */
    padding: 10px 20px; /* Añade espacio alrededor del contenido */
    display: flex; /* Utiliza flexbox para centrar los elementos */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    max-width: fit-content; /* Ajusta el ancho al contenido */
    color: rgb(104, 62, 201);


}
.iconos{
    margin-top: 20px;
    margin-left: 130px;
    justify-content: space-between;
}

#home{
  position: relative;
}

.avatar {
    position: relative;
    z-index: 2; /* Asegura que el avatar quede delante del círculo */
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    background: linear-gradient(to right, #1E1E2F,#7648d7);
    
}





/* Avatar Para pantallas más grandes */
@media (min-width: 1080px) {
    .avatar {
        max-width: 450px;
        margin-left: 42%;
        margin-top: -16%;
        
    }
}

/* Avatar Para laptops o pantallas medianas */
@media (max-width: 1608px) and (min-width: 768px) {
    .avatar {
        max-width: 450px;
        margin-left: 40.5%;
        margin-top: -24%;
    }
}

/* Avatar Para pantallas pequeñas (tablets y móviles) */
@media (max-width: 767px) {
    .avatar {
        max-width: 200px;
        margin-left: 25%;
        margin-top: 0;
    }
}

.circle {

    position: absolute;
    background-color: rgba(98, 0, 234, 0.15); 
    width: 464px;  
    height: 460px; 
    border-radius: 50%; 
    z-index: 1; 
    top: 50%;
    left: 54%;
    transform: translate(-46%, -40%); 
    box-shadow: 0 0 40px 10px rgba(98, 0, 234, 0.5);
}

.contenedor-cv  {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    font-size: 14px;
    color: rgb(104, 62, 201); /* Color del texto general en el contenedor */
    font-family: Arial, Helvetica, sans-serif;
    
    
}


/* Boton de descarga Para pantallas más grandes */
@media (min-width: 1080px) {
    .contenedor-cv {
        margin-left: 74%;
        margin-top: -400px; 
        
    }
}

/* Boton de descarga Para laptops o pantallas medianas */
@media (max-width: 1608px) and (min-width: 768px) {
    .contenedor-cv  {
        margin-left: 73%;
        margin-top: -300px; 
    }
}


/* Boton de descarga Para pantallas pequeñas (tablets y móviles) */
@media (max-width: 767px) {
    .contenedor-cv  {
        margin-left: 83%;
        margin-top: -350px; 
    }
}




.hablemos-btn {
    display: flex;
    align-items: center;
    background-color: rgba(104, 69, 184, 0.1);
    color: #7B4AE2;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    z-index: 5;
    
    
}

.flecha-descarga {
    display: flex;
    color: #7B4AE2; /* Cambia el color del texto a morado */
    border: none; 
    padding: 10px 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    z-index: 5;
    margin-top: 10px;
    background-color: transparent; /* Fondo transparente */
    
    
}

.flecha-descarga a {
    color: #7B4AE2; 
    align-items: center;
    display: flex;
    
    
}

.flecha-descarga a i {
    font-size: 25px;
    justify-content: center;
    margin-left: 10px;
    
   }

   .hablemos-btn a {
        color:#7648d7;
   }

   .flecha-descarga a i:hover, 
   .flecha-descarga a:hover,
   .hablemos-btn a:hover 
   {
       color: #FFFFFF;
   }

.hablemos-btn i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 20px; /* Tamaño del icono */
}




/* Fondo gris circular detrás del icono */
.icono-bg {
    background-color: rgba(41, 40, 40, 0.5); /* Gris semitransparente */
    border-radius: 50%; /* Círculo perfecto */
    padding: 20px; /* Espacio interno para dar la apariencia de círculo alrededor del icono */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Posición y Tamaño en Pantallas Grandes (Desktop) */
.icono-flotante {
    position: absolute;
    z-index: 3;
    transition: transform 0.5s ease; /* Añade una transición suave */
}


.icono-flotante:hover {
    transform: rotate(360deg); /* Gira el ícono 360 grados */
}

/* Posición del icono de React */
.react-icon {
    top: 27%;
    left: 45%;
}

/* Posición del icono de Java */
.java-icon {
    top: 50%;
    right: 29%;
}

/* Posición del icono de Figma */
.figma-icon {
    bottom: 20%;
    left: 42%;
}

/* Tamaño de íconos en pantallas grandes */
.react-icon-size, .java-icon-size, .figma-icon-size {
    width: 50px;
    height: 50px;
}

/* Iconos Responsividad para pantallas medianas (Tablets) */
@media (max-width: 1070px) {
    .icono-flotante {
        top: auto;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .react-icon {
        top: 20%;
        left: 50%; /* Ajusta para centrar el icono */
        transform: translateX(-50%);
    }

    .java-icon {
        top: 40%;
        left: 50%; /* Ajusta para centrar el icono */
        transform: translateX(-50%);
    }

    .figma-icon {
        top: 60%;
        left: 50%; /* Ajusta para centrar el icono */
        transform: translateX(-50%);
    }

    /* Tamaño de íconos en pantallas medianas */
    .react-icon-size, .java-icon-size, .figma-icon-size {
        width: 40px;
        height: 40px;
    }
}

/* Iconos Avatar Responsividad para pantallas pequeñas (Móviles) */
@media (max-width: 768px) {
    .icono-flotante {
        left: 50%;
        transform: translateX(-50%);
    }

    .react-icon {
        top: 20%;
    }

    .java-icon {
        top: 40%;
    }

    .figma-icon {
        top: 60%;
    }

    /* Tamaño de íconos en pantallas pequeñas */
    .react-icon-size, .java-icon-size, .figma-icon-size {
        width: 40px;
        height: 40px;
    }
}




box-icon {
    z-index: 3;
}
